.time-frame {
    float: right;
}

body {
    /* background-color: #f2f2f2; */
    background: url(paper.png);
    font-family: monospace;
    --border: 1px solid gray;
    --font-family: monospace;
    --font-size: 14px;
    --bg: white;
}

.toggle {
    background: linear-gradient(#e2fcff, #31e8ff) !important;
}

#toolbar {
    margin-bottom: 1em;
    text-align: center;
}

.btn,
#toolbar button {
    background: linear-gradient(white, #ececec);
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #b9b9b9;
    cursor: pointer;
    user-select: none;
    outline: none;
    color: #5c5c5c;
    border-radius: 0.35em;
    margin-top: 7px;
}

.btn:hover,
#toolbar button:hover {
    background: linear-gradient(#ffffff, #d4d4d4);
}

#toolbar img {
    width: 20px;
}

.vis-timeline {
    border: var(--border);
    font-family: var(--font-family);
    font-size: var(--font-size);
    background: var(--bg);
}


/* .vis-item-content,
.vis-item {
    border: 1px solid #9a9a9a;
    background-color: #b0de7b;
}

.vis-item,
.vis-item.vis-line {
    border-width: 1px;
} */

.vis-item.vis-selected {
    border-color: orangered;
    background-color: orangered;
}

.vis-time-axis .vis-text {
    color: orangered;
    padding-top: 10px;
    padding-left: 10px;
}

.vis-time-axis .vis-grid.vis-minor {
    border-width: 1px;
    border-color: rgb(70, 70, 70);
}

.vis-time-axis .vis-grid.vis-major {
    border-width: 1px;
    border-color: rgb(70, 70, 70);
}

.b-ok {
    background: linear-gradient(#ffffff, #70dd61) !important;
}

.b-fail {
    background: linear-gradient(#ffffff, #d15151) !important;
}

.hidden {
    display: none !important;
}

#dateTimePickers,
#info {
    text-align: center;
}

#infoframe {
    max-width: 600px;
    text-align: left;
    margin: auto;
}

#infoframe img {
    width: 16px;
}

#dateTimePickersInner {
    max-width: 250px;
    text-align: right;
    margin: auto;
    padding-bottom: 1em;
}

#dateTimePickersInner input {
    margin-top: 5px;
    width: 140px;
}

.dtpickrow {
    padding: 4px;
}