body {
    background: url(paper.png);
    font-family: monospace;
    padding: 0;
    margin: 0;
}

*{
    user-select: none;
}

#tracker-title {
    text-align: center;
    color: #636363;
    font-size: 2em;
    margin: 0.5em;
    padding-top: 0.5em;
}

#tracker-toolbar img {
    width: 20px;
}

#tracker-host {
    max-width: 650px;
    min-width: 200px;
    width: fit-content;
    margin: auto;
    margin-top: 0.5em;
}

#tracker-wrp {}

#fixed-header {
    /* position: fixed; */
    width: 100%;
    background: url(paper.png);
    top: 0;
}

.stick {
    position: fixed;
    top: 0;
}

.tr-item {
    /* padding: 0.3em; */
    /* margin: 0.3em; */
    border: 1px solid transparent;
}

.tr-item-selected {
    background-color: rgba(137, 247, 183, 0.30);
    border: 1px solid #0000001c;
}

.tr-item-header {
    cursor: pointer;
    font-size: 15px;
}

.tr-item-header-collapsed {
    background-color: rgba(175, 175, 175, 0.15);
    border: 1px dotted rgb(156, 156, 156);
    border-left:2px solid red;
    padding: 0.15em;
    padding-right: 0.8em;
    color: #464646;
}


.tr-item-content {
    margin-left: 1.0em;
    padding-left: 1em;
    border-left: 1px dashed gray;
}

.tr-item-header-status {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    min-width: 2em;
    padding-top: 0.25em;
}

.tr-item-header-status-checked {}

.tr-item-header-title {
    margin: 1px;
    vertical-align: top;
    display: inline-block;
    margin-left: 0.6em;
    outline: none;
    background-color: white;
    /* background: url(root.png); */
    border: 1px solid #5858586b;
    border-radius: 0.35em;
    padding: 0.33em;
    padding-left: 1em;
    padding-right: 1em;
}

#tracker-toolbar {
    margin-bottom: 0.5em;
    text-align: center;
}

#tracker-toolbar button {
    /* background: linear-gradient(white, #ececec); 
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px; 
    border: 1px solid #b9b9b9; */
    cursor: pointer;
    user-select: none;
    outline: none;
    color: #5c5c5c;
    border-radius: 0.35em;
    margin-top: 7px;
}

/* #tracker-toolbar button:hover {
    background: linear-gradient(#ffffff, #d4d4d4);
} */

#ntf {
    text-align: center;
    font-weight: bold;
    position: fixed;
    font-size: 1em;
    width: 100%;
    margin: 0;
    padding-bottom: 0.2em;
    top: 0;
    left: 0;
}

.ntf-ok {
    background-color: rgb(151, 250, 142);
    border-bottom: 1px solid #008800
}

.ntf-fail {
    color: white;
    background-color: rgb(212, 81, 81);
    border-bottom: 1px solid #af3e3ea1;
}

.ntf-debug {
    color: white;
    background-color: #008871;
    border-bottom: 1px solid #005c4d
}

.hidden {
    display: none;
}

#ls-lists-wrp {
    padding: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin: auto;
    max-width: 500px;
    text-align: center;
    border-bottom: 1px solid #00000021;
    border-top: 1px solid #00000021;
}

.list {
    display: inline-block;
    cursor: pointer;
    padding: 0.35em;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid #c5c5c5;
    background-color: #cdcdcd5c;
    margin: 0.2em;
}

.list:hover {
    background-color: rgba(112, 128, 144, 0.274);
}

.selected-list {
    background-color: rgba(0, 255, 107, 0.432) !important;
    border: 1px solid #42bf76 !important;
}



button:disabled,
button[disabled] {
    color: #bbbbbb !important;
    border: 1px solid #e4e4e4 !important;
}

@media screen and (max-width: 720px) {
    #tracker-toolbar button {
        background: transparent;
        border: none;
    }
    #tracker-toolbar button:hover {
        background: transparent;
    }
    .toggle {
        border-bottom: 3px solid #ff0000 !important;
        border-radius: 0 !important;
    }
    .b-txt{
        margin-left: 7px;
        margin-right: 0;
        padding: 0;
        margin-top: 10px !important;
        margin-bottom: 2px;
    }
}

@media screen and (min-width: 721px) {
    #tracker-toolbar button {
        background: linear-gradient(white, #ececec);
        border: 1px solid #b9b9b9;
        padding-top: 7px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #tracker-toolbar button:hover {
        background: linear-gradient(#ffffff, #d4d4d4);
    }
    .toggle {
        background: linear-gradient(#e2fcff, #31e8ff) !important;
    }
}